.contenido {
  display: grid;
  gap: 5rem;
  align-items: flex-start;
}

@media(min-width: 768px) {
  .contenido {
    grid-template-columns: 3fr 2fr 
  }
}

.carrito {
  padding: 3rem;
}

.resumen {
  background-color: #f5f6f7;
  padding: 3rem;
  border-radius: 1rem;
  position: sticky;
  top: 3rem;
  right: 3rem;
}

.producto {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid #cfcfcf;
}

.producto p {
  margin: 0 0 1rem;
}

.producto span {
  font-weight: 900;
}

.producto:last-of-type {
  border-bottom: none;
}

.nombre {
  font-weight: 700;
  font-size: 2.8rem;
}

.select {
  all: unset; /* elimino todo el CSS */
  border: 1px solid #cfcfcf;
  padding: 1rem;
  display: block;
  text-align: center;
  width: 50%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.precio {
  color: var(--primary);
  font-weight: 800;
  font-size: 2.4rem;
}

.subtotal {
  font-size: 2.2rem;
}