.guitarras-grid {
  display: grid;
  gap: 4rem;
}

@media(min-width: 768px) {
  .guitarras-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 992px) {
  .guitarras-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.guitarra {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.guitarra .contenido {
  padding: 1rem;
}

.guitarra .contenido h3 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary);
}

/* recortar texto grande */
.guitarra .descripcion {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  font-size: 1.8rem;
}

.guitarra .precio {
  font-size: 6rem;
  margin: 0;
  color: var(--primary);
  font-weight: 900;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.formulario select {
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem;
  outline: none;
  border-radius: 1rem;
}

.formulario button {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  transition: all .5s;
}

.formulario button:hover {
  background-color: var(--primary);
}